@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:wght@400;500;700&family=Roboto&family=Roboto+Mono:ital@1&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
main{
  width: 1321px;
  margin: 0 auto;
}
.top-banner{
  width: 1321px;
  height: 646px;
  margin: 0 auto;
  background-color: black;
  border-radius: 30px;
}
.top-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-deteil{
  color: white;
   width: 531px;
  height: 424px;
  margin-top: 60px;
}
.top-deteil h1{
  font-size: 40px;
   color: white;
}
.top-img img {
  margin-top: 33px;
  margin-left: 24px;
  width: 581px;
  height: 613px;
  padding: 102px -1px 11px 0;
}
.link-button{
  margin-top: 40px;
  text-decoration: none;
  color: white;
  background-color: #DD0000;
  padding: 10px 40px;
  border-radius: 8px;
}
.fa-greater-than{
   margin-left: 10px;
}
.blogs-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
   margin-left: 10px;
  
}
.blog-items{
  width: 310px;
  box-shadow: 1px 1px 1px gray;
  margin: 7px;
  border-radius: 10px;
}
.transfer{
  margin-top: 20px;
  margin-left: 10px;
}
.tran-button{
  color: black;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid gray;
  border-radius: 10px;
}
.blog-detail{
  margin-top: 30px;
  margin-left: 10px;
}
.blog-detail p{
  font-weight: 700;
}
.blog-info{
  margin-left: 8px;
  padding-bottom: 20px;
}
.blog-info span{
  margin-left: 10px;
}
.side-button{
    background-color: black;
    width: 336px;
    height: 350px;
    margin-top: 10px;
    margin-left: 10px;
}


.side-button p{
  background-color: white;
  width: 150px;
  height: 60px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid gainsboro;
  padding: 5px 40px;
  border-radius: 10px;

}
#blog-button a{
  color: white;
}

#blog-button {
    background: #DD0000;
}

.side-button p a{
   text-decoration: none;
  font-weight: 700;
  margin-top: 20px;
}

.button-item{
    margin-top: 40px;
    margin-left: 0px;
    padding-right: 43px;

}

.extra-container {
  display: flex;
  margin-top: 110px;
}
 /* view all part  */
 #block{
  display: none;
 }
 .view-item{
  margin-left: 45%;
  width: 200px;
  margin-top: 40px;
  background-color: #DD0000;
  border-radius: 10px;
 }
  .view{
  display: flex;
   justify-content: center;
   /* padding: 10px;  */
 }
 .view-item p{
  padding: 20px 0;
 }
 .view a{
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  /* padding: 10px; */
  color: white;
 }

/* footer style  */
footer{
  background-color: black;
  margin-top: 10%;
  padding-top: 90px;
  padding-bottom: 80px;
}

hr{
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  width: 80%;
}
.footer-container h1{
  color: white;
  font-size: 35px;
  margin-left: 48% 
}
.item{
 margin: 30px;
}
.item span{
  color: 
  #B9B9B9;
  font-weight: 500;
  
}
.footer-items{
  display: flex;
  justify-content: center;
  
}
.social-icons{
  display: flex;
  justify-content: space-evenly;
}
.so-icon{
  /* margin: 80px; */
}
.filled{
  font-weight: 500;
  font-size: 50px;
  color: #DD0000;
}
  /* midea quairi for mobaile  */


@media only screen and (max-width: 688px) {

  .top-banner{
    width: 100%;
    height: 100%;
  }
  .top-items{
    flex-direction: column;
  }
  .extra-container{
    flex-direction: column;
  }
  .side-button{
   background-color: white;
   width: 100%;

  } 
  .side-button p{
    width: 400px;
    height: 60px;
    margin-left: 35%;
    margin-top: 10px;
    padding: 10px 20px;
  }
  .blogs-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
 .blogs-container{
    flex-direction: column;
    justify-content: center;
 }
   .blog-items{
  margin-top: 100px;
  margin-left: 40%;
 }  

 footer{
  width: 340vw;
 }
 .footer-items{
  display: grid;
  grid-template-columns: repeat(1,1fr);
 }
 .footer-items{
  justify-items: center;
  justify-content: center;
 }
 
}

@media only screen and (min-width: 689px) and (max-width: 992px){
  .extra-container{
    flex-direction: column;
  }
  .side-button{
    width: 100%;
    background-color: white;
  }
  .button-item{
   display: flex;
   justify-content: center;
  }
  .blogs-container{
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  footer{
    width: 175vw;
  }
 
}