@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:wght@400;500;700&family=Roboto&family=Roboto+Mono:ital@1&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
main{
  margin-top: 20px;
  width: 1321px;
  margin: 0 auto;
}
.top-banner{
  width: 1321px;
  height: 646px;
  margin: 0 auto;
  background-color: black;
  border-radius: 30px;
}
.top-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-deteil{
  color: white;
   width: 531px;
  height: 424px;
  margin-top: 60px;
}
.top-deteil h1{
  font-size: 40px;
   color: white;
}
.top-img img {
  margin-top: 33px;
  margin-left: 24px;
  width: 581px;
  height: 613px;
  padding: 102px -1px 11px 0;
}
.link-button{
  margin-top: 40px;
  text-decoration: none;
  color: white;
  background-color: #DD0000;
  padding: 10px 40px;
  border-radius: 8px;
}
.fa-greater-than{
   margin-left: 10px;
}
.blogs-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
   margin-left: 10px;
  /* margin-top: 0px; */
}
.blog-items{
  box-shadow: 1px 1px 1px gray;
  margin: 7px;
  border-radius: 10px;
}
.transfer{
  margin-top: 20px;
  margin-left: 10px;
}
.tran-button{
  color: black;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid gray;
  border-radius: 10px;
}
.blog-detail{
  margin-top: 30px;
  margin-left: 10px;
}
.blog-detail p{
  font-weight: 700;
}
.blog-info{
  margin-left: 8px;
  padding-bottom: 20px;
}
.blog-info span{
  margin-left: 10px;
}
.side-button{
    background-color: black;
    width: 336px;
    height: 350px;
    margin-top: 10px;
    margin-left: 10px;
    /* justify-content: center; */
    border-radius: 10px;
}


.side-button p{
  background-color: white;
  width: 150px;
  height: 60px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  margin-left:;
  margin-top:;
  padding: 5px 40px;
  border-radius: 10px;
  

}

.blog-button {
  padding: 0;
  margin-left: 0px;
  border-radius: 8px;
    margin-left: 30px;
    background: red;
    padding: 20px;
    /* padding: 30px; */

}
.blog-button a{
  margin-left: 75px;
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.side-button p a{
   text-decoration: none;
   font-weight: 700;
  margin-top: 20px;

}
.button-item{
    margin-top: 40px;
    margin-left: 0px;
    padding-right: 43px;

}


.extra-container {
  display: flex;
  margin-top: 110px;
}

/* footer style  */
footer{
  background-color: black;
  margin-top: 10%;
  padding-top: 90px;
  padding-bottom: 80px;
}

hr{
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  width: 80%;
}
.footer-container h1{
  color: white;
  font-size: 35px;
  margin-left: 48% 
}
.item{
 margin: 30px;
}
.item span{
  color: 
  #B9B9B9;
  font-weight: 500;
  
}
.footer-items{
  display: flex;
  justify-content: center;
  
}